:root { 
--black_900_7f:#0000007f; 
--white_A700_3f:#ffffff3f; 
--light_blue_600:#18a3d7; 
--light_blue_500:#00aeef; 
--black_900_3f:#0000003f; 
--white_A700_cc:#ffffffcc; 
--yellow_800:#f7941d; 
--black_900:#000000; 
--yellow_700:#ffc12d; 
--light_blue_500_7f:#00aeef7f; 
--white_A700_19:#ffffff19; 
--black_900_05:#00000005; 
--white_A700_4c:#ffffff4c; 
--light_blue_500_19:#00aeef19; 
--white_A700_0c:#ffffff0c; 
--gray_900:#231f20; 
--light_blue_500_cc:#00aeefcc; 
--light_blue_500_99:#00aeef99; 
--orange_500:#ff9800; 
--gray_300:#e0e0d1; 
--white_A700_87:#ffffff87; 
--black_900_cc:#000000cc; 
--black_900_33:#00000033; 
--black_900_99:#00000099; 
--light_blue_500_0c:#00aeef0c; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}